@import 'header';
@import 'yellow-section';
@import 'steps';
@import 'people-section';
@import 'help-section';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.footer{
    width:1900px;
    height:970px;
    display:flex;
    background: #eeefef;
}
.image-footer{
    height:100%;
}

.image-footer > img {
    height:100%;
    width:1100px;
}

.form-section {
    display:flex;
    flex-direction: column;
    height: 100%;
    width:730px;
    // justify-content: center;
    text-align: center;
    margin-top: 200px;
}
.contact {
    font-size: 40px;
}
.form {
   width:600px;
   height:320px;
   display:flex;
   flex-direction: column;
   margin-top: 100px;
   margin-left: 100px;
}
.contact-form{
    font-size: 25px;
    text-align: left;
}
.form-info{
    display: flex;

}
.name-email{
    display:flex;
    justify-content: space-between;
    width:260px;
    border-bottom: 1px solid black;
}

.message{

}
.button {

}

.footer-info{

}














