* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container {
  max-width: 600px; 
}
.mobile-nav {
    height:70%;
    width:100%;
    background: #F7CB11;
    display: flex;
    justify-content: space-between;
}

.logo{
    width:50%;
    height:100%;
    border-radius: 50%;
    background: white;
    margin-left: 15px;
}
.burger {
    margin-right: 15px;
} 
.burger div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.first-section {
    width:100%;
    height:200px;
    display:flex;
    flex-direction: column;
}

.first-section p:first-child{
    font-size: 17px;
    padding: 15px;
}
.first-section p:nth-child(2){
    font-size: 25px;
    padding: 15px;
}

.button {
    width:120px;
    height: 30%;
    border-radius: 10%;
    background: #F7CB11;
    margin: 0 auto;
    border:none;
    font-size: 20px;   
}

.second-section {
    width:100%;
    height:100%;
    background: #F7CB11;
}

.second-section p:first-child,
.third-section p:first-child{
    font-size: 1.5rem;
    text-align: center;
}
.steps-flex{
    display:flex;
    justify-content: space-evenly;
    margin-top: 20px; 
}

.steps-flex p {
    font-size: 1rem;
}
 
.steps-flex img {
    width:30%;
    height:30%;
    margin-left: 20%;
}
.third-section {
    width:100%;
    height:160%;
}

.third-section-flex{
    display:flex;
    justify-content: space-evenly;
    text-align: justify;
}
.third-section-first-column,
.third-section-second-column,
.third-section-third-column {
    width:140px;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5%;
}
.circle-inside {
    width:100px;
    height:100px;
    background-color:#F7CB11;
    border-radius: 50%; 
    text-align: center;
    line-height: 90px;
    margin: 0 auto;
    font-size: 1rem;
}

.third-section p:nth-child(2) {
    text-align: center;
}
.third-section p:nth-child(3) {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.third-section button {
    background-color: #F7CB11;
    // margin-top: 20px;
    display:block;
    margin:auto;
    margin-top: 20px;
    width:120px;
    height: 60px;
    border-radius: 10%;
    border:none;
    font-size: 20px;   
}  
.fourth-section{
    background: #F7CB11;
    margin-top: 20px;
}
.fourth-section img {
    width:10%;
    height:25%;
    border-radius: 50%;
    background: white;
    margin-left: 15px;
}
 
.contact {
    display: flex;
    font-size: 20px;
}

.contact i {
    margin-left: 10px;
}

.footer-info {
    margin-top: 20px;
}

//login page 

.login-page {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    height:100%;
    font-size: 20px;
    text-align: center;
}

.login-page input {
    margin-top: 30px;
    width:30%;
    height:30px;
    display:flex;
    justify-content: center;
    border-radius: 25px;
    border-color: #F7CB11;
    margin: 0 auto;
}

.login-buttons button {
    margin-top: 20px;
    border-radius: 10%;
    width:20%;
    background-color: #F7CB11;
}

button a {
    text-decoration: none;
    color:inherit;
    margin-bottom: 10px;
}

//steps
.steps {
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:0 auto;
}

.rec,
.checkmark{
    margin-top: 20px;
    width:50px;
    height:50px;
    background: #F7CB11;
    text-align: center;
    line-height: 50px;
}

.oddaj-rzeczy{
    width:100%;
    height:100%;
    text-align: center;
    font-size: 1.5rem;
}
.info-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: #F7CB11;
    font-size: 1.4rem;
}

.info-section-flex {
    display:flex;
    font-size: 0.8em;
} i {
    font-size: 2em;
    margin: 0 20px 0 20px;
}

.pick-form {
    height:100%;
    width:100%;
    background:white;
    font-size: 1rem;
    display:flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
}
.hidden-fields{
    display:flex;

}

.for-who,
.for-who-books{
    display: flex;
    margin: 10px;
    padding:10px;
    flex-direction: row;
    width:80%;
    font-size: 1rem;
}

.for-who input,
.for-who-books input {
    margin-left: 10px;
}
.step3{
    display:flex;
}
.checkboxes-for-whom{
    display:flex;
    flex-direction: column;
    font-size: 1em;
}

.foundation {
    margin:5%;
}
.step5-content-flex {
    display:flex;
    flex-direction: column;
}

.step5-content-flex textarea{
    width:80%;
    height:40%;
}

.adress-box,
.date-box {
    width:40%;
}

.street,
.telephone,
.postal,
.date,
.date-of-reception,
.time,
.courier-text {
   display:flex;
   flex-direction: column;
   margin-bottom: 10%;
} .street,
.telephone,
.postal,
.date,
.date-of-reception,
.time,
.courier-text input {
    width:80%;
}

.step6 img {
    width:5%;
    height:5%;
}






