* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header-section {
  width: 1500px;
  height: 936px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-image {
  height: 100%;
  width: 220%;
}

.text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 773px;
  width: 826px;
}

.nav-up {
  width: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
  margin-right: 193px;
  text-decoration: none;
  padding-left: 30px;
  font-size: 15px;
  position: relative;
  display: inline-block;
}

.nav-up a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.drop-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

.dropbtn {
  padding: 14px;
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: inherit;
}

.rocket {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.rocket:hover {
  background: yellow;
}

.dropbtn:hover, .dropbtn:focus {
  border: 1px solid black;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  margin-top: 50px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.hover-rec:hover {
  border: 1px solid black;
  list-style-type: none;
  text-align: center;
}

.nav-down {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-down-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 637px;
  height: 100px;
}

.nav-down-list a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.middle-text {
  width: 700px;
  height: 150px;
  font-size: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.down-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
}

.down-text > p:first-child {
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.four-diamonds {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.four-diamonds p {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.number-font {
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.first-diamond,
.second-diamond,
.third-diamond,
.fourth-diamond {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 30px;
}

.yellow-section {
  width: 100%;
  height: 150px;
  background: #F7CB11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yellow-section-text {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.yellow-section-text > p:first-child {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}

.pick-item {
  width: 100%;
  height: 883px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f5f0;
}

.pickup-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 830px;
  height: 650px;
  display: flex;
  margin-left: 150px;
  margin-top: 50px;
  font-size: 20px;
}

.pickup-text > p:nth-child(2) {
  font-size: 30px;
  margin-top: 20px;
}

.pick-form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  -webkit-transition: .2s;
  transition: .2s;
  margin-top: 25px;
}

input[type=checkbox] + label:active:before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #F7CB11;
  border-color: #F7CB11;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

.pickup-text button {
  margin-top: 30px;
  width: 15%;
  border: none;
  background-color: transparent;
  padding: 20px;
  border: 1px solid black;
  font-size: 20px;
}

.pickup-text button:hover {
  cursor: pointer;
  background-color: #F7CB11;
  border-color: #F7CB11;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.step1 {
  display: none;
}

.bear-image {
  margin-left: 20px;
}

ul {
  list-style: none;
}

h2 {
  margin-top: 20px;
}

.numbers-bags {
  margin-top: 20px;
}

select {
  width: 25%;
  margin-top: 25px;
  background-color: inherit;
  height: 25px;
  font-size: inherit;
}

.step3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.margin {
  margin-top: 20px;
  font-weight: bold;
}

.three-options, .two-options {
  margin-top: 20px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.three-options > p, .two-options > p {
  padding: 15px;
  text-align: center;
}

.three-options > p:hover, .two-options > p:hover {
  border: 1px solid black;
  cursor: pointer;
}

.inside-text {
  width: 75%;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.aim-org {
  font-size: 15px;
  margin-left: 40px;
  padding-bottom: 20px;
}

.step5-content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  margin-top: 25px;
}

.adress-box, .date-box {
  width: 300px;
  height: 450px;
}

.adress-box input, .date-box input {
  width: 90%;
  height: 50px;
  border: 1px solid black;
}

textarea {
  width: 90%;
  height: 150px;
  background-color: inherit;
  resize: none;
}

.street,
.telephone,
.postal,
.date,
.date-of-reception,
.time,
.courier-text {
  margin-top: 20px;
  width: 320px;
}

label {
  padding: 20px 0 20px 0;
}

.step1 .flex-btns {
  margin-top: 15px;
}

.step5 .flex-btns {
  margin-top: 150px !important;
}

.bag-section, .hand-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bag-section p, .hand-section p {
  margin-left: 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-img {
  margin-top: 25px;
  width: 48px;
  height: 55px;
}

.thanks {
  width: 720px;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
}

.footer {
  width: 100%;
  height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eeefef;
}

.image-footer {
  height: 100%;
}

.image-footer > img {
  height: 100%;
  width: 120%;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 800px;
}

.form-section img {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.contact {
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}

.contact-form {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 75px;
  text-align: left;
  margin-left: 5px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

input {
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 18px;
  border-spacing: 10px;
  height: 50px;
}

#form_email {
  margin-top: 30px;
}

.message-form {
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 18px;
  height: 50px;
  margin-top: 50px;
  text-align: unset;
}

.send-button {
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
  height: 50px;
  width: 100px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 500px;
  padding-left: 50px;
}

.icons img {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}
/*# sourceMappingURL=styles.css.map */