* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header-section {
    width: 1900px;
    height: 936px;
    display:flex;
}
.image-section {

}
.header-image {
    height: 100%;
    width: 10%;
    visibility: hidden;
}
.text-section {
    display:flex;
    flex-direction: column;
    height: 773px;
    width:90%;
}
.nav-up {
    width:637px;
    height:35px;
    display:flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 193px;
} a {
    text-decoration: none;
    padding-left: 30px;
    font-size: 15px;
}

.hover-rec:hover {
    border: 1px solid black;
    list-style-type: none;
    text-align: center;
}
.nav-down {
    margin-top: 20px;
    display:flex;
}
.nav-down-list {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    width:637px;
    height:300px;
}
.login-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}
.login-font{
    font-size: 30px;
    text-align: center;
}
input {
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 25px;
}
.login-buttons{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width:80%;
    margin-left: 50px;
}

