* {
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height:800px;
}

.nav-up {
    display:flex;
    justify-content: flex-end;
    margin-right: 200px;
} .nav-up a {
    padding-left: 75px;
    text-decoration: none;
    color:inherit;
}

.nav-down {
    list-style: none;
    display:flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 200px;
} .nav-down a {
    text-decoration: none;
    color:inherit;
    padding-left: 75px;
}

.login {
    display:flex;
    flex-direction: column;
    margin-top: 50px;
} .login p:first-child {
    margin:0 auto;
    font-size: 50px;
} .login img {
    width:20%;
    margin:0 auto;
    margin-top: 10px;
}

input {
    width:600px;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    font-size: 30px;
    margin-top: 75px;
    padding-bottom: 15px;
}

.login-buttons {
    width:500px;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
} .login-buttons a {
    text-decoration: none;
    color:inherit;
    padding: 15px;
}

.login-buttons a:hover {
    border: 1px solid black;
}