.header-section {
    width: 100%;
    height: 936px;
    display:flex;
}

.header-image {
    height: 100%;
    width: 150%;
}
.text-section {
    display:flex;
    flex-direction: column;
    height: 773px;
    width:55%;
    // margin-left: 100px;
}
.nav-up {
    width:92%;
    height:60px;
    display:flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 193px;
    text-decoration: none;
    padding-left: 30px;
    font-size: 15px;
    margin-left: 50px;
} .nav-up a {
    text-decoration: none;
    color:inherit;
    padding:15px;
}
.nav-down {
    margin-left: 10px;
    margin-top: 40px;
    display:flex;
}
.nav-down-list {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    width:98%;
    height:300px;
} .nav-down-list a {
    text-decoration: none;
    color:inherit;
    padding:10px;
}
.nav-down-list a:hover,
.nav-up a:hover {
    zoom: 120%;
    background: #F7CB11;
    color:white;
}
.middle-text {
    width:100%;
    height:150px;
    font-size: 35px;
    text-align: center;
    align-items: center;
}
.down-text {
    display:flex;
    font-size: 40px;
    width:700px;
    height: 300px;
    align-items: center;
} .middle-text-a {
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    word-spacing: 100vw;
    text-align:center;
    text-decoration: none;
    color:inherit;
}

.middle-text-a:hover {
    color:white;
    background: #f7cb11;
    border:none;
    transition-duration: 0.1s;
    border-radius: 25px;
}


.navbar {
    font-size: 18px;
    // background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
    width:30%;
    float: right;
    margin-right: 10%;
    
}
.main-nav li a {
    text-decoration: none;
    color:white;
}
.main-nav li a:hover{
    zoom:130%;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
    visibility: hidden;
}

.active {
    display: block;
}
