@media only screen and (max-width: 900px) {
    .header-section {
        width:1500px;
    }
    .header-image,
    .people-image-flex,
    .image-footer,
    .image-footer > img {
        display:none;
    }

    .text-section {
        display:flex; 
        justify-content: flex-end;
        flex-direction: column;
    }

    .down-text {
        font-size: 20px;
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top:10%;
        width:auto;
    }
    .nav-up {
        display: flex;
        align-items: flex-end;
    }
    .number {
        font-size: 70px;
    }
    .table-text {
        font-size: 25px;
    }
    .table-lorem{
        font-size: 15px;
    }
    .steps-section {
        height:auto;
    }
    .steps-section-flex {
        display:flex;
        flex-direction: column;
        height: auto;
    }
    .people-section {
        height:auto;
    }
    .about-us {
        width:250%;
        height: 70%;
    }
    .about-us-long-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 845px) {
    .right-side {
        display: none;
    }
    .left-side {
        width: 100%;
    }
    .form-section {
        width:250%;
    }
}