.steps-section {
    width:100%;
    height:750px;
}
.steps-section-title {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.steps-section-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    background:#EBEBEB;
    width:1180px;
    height:322px;
    margin-top: 50px;
}

.sizes {
    height: 70px;
    width: 70px;
}
@mixin position {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: #747474;
    .steps-text {
        padding-left: 25px;
    }
    .steps-text-right {
        word-wrap: break-word;
        padding-right: 25px;
    }
}
.hands {
    @include position
}
.arrow {
    @include position
}
.help {
    @include position
}
.courier {
    @include position
}

.minus {
    background: none;
    width: 75px;
}

.account {
    font-size: 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
    padding:20px;
    text-decoration: none;
    color:inherit;
}
.account a:hover {
    border: 1px solid black;
    cursor: pointer;
    background-color: #F7CB11;
    border-color: #F7CB11;
    color:white;
    transition: .2s;
}