* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spectral', serif;
    overflow-x: hidden;
}

.content {
    max-width: 1500px;
    margin:0 auto;
}

@import 'header';
@import 'yellow-section';
@import 'steps';
@import 'people-section';
@import 'help-section';
@import 'footer';
@import 'media-query'

















