@import 'header';
@import 'yellow-section';
@import 'steps';
@import 'people-section';
@import 'help-section';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
















