.header-section {
  width: 1500px;
  height: 936px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-image {
  height: 100%;
  width: 1012px;
}

.text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 773px;
  width: 826px;
}

.nav-up {
  width: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
  margin-right: 193px;
  text-decoration: none;
  padding-left: 30px;
  font-size: 15px;
}

.nav-up a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.hover-rec:hover {
  border: 1px solid black;
  list-style-type: none;
  text-align: center;
}

.nav-down {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-down-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 637px;
  height: 300px;
}

.nav-down-list a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.middle-text {
  width: 700px;
  height: 150px;
  font-size: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.down-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  width: 700px;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-text-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  margin-left: 20px;
  word-spacing: 100vw;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.yellow-section {
  width: 100%;
  height: 380px;
  background: #F7CB11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yellow-section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1500px;
  height: 300px;
  margin: auto;
}

.number {
  color: #5E5322;
  text-align: center;
  font-size: 100px;
}

.table-text {
  color: #5E5322;
  text-align: center;
  font-size: 30px;
}

.table-lorem {
  color: #5E5322;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.steps-section {
  width: 100%;
  height: 750px;
}

.steps-section-title {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.steps-section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background: #EBEBEB;
  width: 1180px;
  height: 322px;
  margin-top: 50px;
}

.sizes {
  height: 70px;
  width: 70px;
}

.hands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.hands .steps-text {
  padding-left: 25px;
}

.hands .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
  margin-top: 10px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.arrow .steps-text {
  padding-left: 25px;
}

.arrow .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
  margin-top: 10px;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.help .steps-text {
  padding-left: 25px;
}

.help .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
  margin-top: 10px;
}

.courier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.courier .steps-text {
  padding-left: 25px;
}

.courier .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
  margin-top: 10px;
}

.minus {
  background: none;
  width: 75px;
}

.account {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.account a:hover {
  border: 2px solid black;
}

.people-section {
  margin-top: 100px;
  width: 1900px;
  height: 966px;
  background: #eeefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 961px;
  width: 870px;
}

.about-us-section {
  height: 620px;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.about-us-section img {
  width: 40%;
  margin: 0 auto;
}

.about-us-section .signature {
  width: 40%;
  margin-right: 50px;
  margin-top: 50px;
}

.about-us-text {
  font-size: 30px;
  margin: 0 auto;
}

.about-us-long-text {
  width: 500px;
  font-size: 25px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: justify;
}

.people-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1028px;
  height: 965px;
}

.people-image-flex {
  margin-top: 50px;
  width: 1028px;
  height: 856px;
}

.help-section {
  width: 1900px;
  height: 1054px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7a7979;
}

.help-text {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.three-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 820px;
  height: 140px;
  margin: 0 auto;
  font-size: 18px;
  padding-left: 5px;
}

.three-texts p {
  text-align: center;
  padding: 25px;
}

.three-texts p:hover {
  border: 1px solid black;
  -webkit-transition: 1s;
  transition: 1s;
}

.long-text {
  width: 620px;
  height: 130px;
  margin: 0 auto;
  font-size: 22px;
  text-align: justify;
}

.long-text-visible {
  visibility: visible;
}

.long-text-hidden {
  display: none;
}

.container {
  width: 1317px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.left-side {
  width: 550px;
  height: 400px;
}

.inside-text {
  font-size: 16px;
  border-bottom: 1px solid black;
  border-spacing: 20px;
  padding-top: 25px;
}

.inside-text-font {
  font-size: 26px;
}

.right-side {
  width: 513px;
  height: 400px;
}

.display-none {
  font-size: 26px;
  visibility: hidden;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 18px;
  width: 200px;
}

.number > p {
  width: 40px;
  height: 40px;
}

.numbers p:hover {
  border: 1px solid black;
}

.footer {
  width: 1900px;
  height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eeefef;
}

.image-footer {
  height: 100%;
}

.image-footer > img {
  height: 100%;
  width: 1000px;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 800px;
}

.form-section img {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.contact {
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}

.contact-form {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 75px;
  text-align: left;
  margin-left: 5px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

input {
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 18px;
  border-spacing: 10px;
  height: 50px;
}

#form_email {
  margin-top: 30px;
}

.message-form {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 18px;
  height: 50px;
  margin-top: 50px;
  text-align: unset;
}

.send-button {
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
  height: 50px;
  width: 100px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 500px;
  padding-left: 50px;
}

.icons img {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/*# sourceMappingURL=styles.css.map */