* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spectral', serif;
  overflow-x: hidden;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
}

.header-section {
  width: 100%;
  height: 936px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-image {
  height: 100%;
  width: 150%;
}

.text-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 773px;
  width: 55%;
}

.nav-up {
  width: 92%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
  margin-right: 193px;
  text-decoration: none;
  padding-left: 30px;
  font-size: 15px;
  margin-left: 50px;
}

.nav-up a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
}

.nav-down {
  margin-left: 10px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-down-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 98%;
  height: 300px;
}

.nav-down-list a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.nav-down-list a:hover,
.nav-up a:hover {
  zoom: 120%;
  background: #F7CB11;
  color: white;
}

.middle-text {
  width: 100%;
  height: 150px;
  font-size: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.down-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  width: 700px;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-text-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  word-spacing: 100vw;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.middle-text-a:hover {
  color: white;
  background: #f7cb11;
  border: none;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  border-radius: 25px;
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
  width: 30%;
  float: right;
  margin-right: 10%;
}

.main-nav li a {
  text-decoration: none;
  color: white;
}

.main-nav li a:hover {
  zoom: 130%;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  text-decoration: none;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 25px;
  visibility: hidden;
}

.active {
  display: block;
}

.yellow-section {
  width: 100%;
  height: 380px;
  background: #F7CB11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yellow-section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1500px;
  height: 300px;
  margin: auto;
}

.number {
  color: #5E5322;
  text-align: center;
  font-size: 100px;
}

.table-text {
  color: #5E5322;
  text-align: center;
  font-size: 30px;
}

.table-lorem {
  color: #5E5322;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.steps-section {
  width: 100%;
  height: 750px;
}

.steps-section-title {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.steps-section-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background: #EBEBEB;
  width: 78%;
  height: 322px;
  margin-top: 50px;
}

.sizes {
  height: 70px;
  width: 70px;
}

.hands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.hands .steps-text {
  padding-left: 25px;
}

.hands .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.arrow .steps-text {
  padding-left: 25px;
}

.arrow .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.help .steps-text {
  padding-left: 25px;
}

.help .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
}

.courier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747474;
}

.courier .steps-text {
  padding-left: 25px;
}

.courier .steps-text-right {
  word-wrap: break-word;
  padding-right: 25px;
}

.minus {
  background: none;
  width: 75px;
}

.account {
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  padding: 20px;
  text-decoration: none;
  color: inherit;
}

.account a:hover {
  border: 1px solid black;
  cursor: pointer;
  background-color: #F7CB11;
  border-color: #F7CB11;
  color: white;
  -webkit-transition: .1s;
  transition: .1s;
  border-radius: 25px;
}

.people-section {
  margin-top: 100px;
  width: 100%;
  height: 966px;
  background: #eeefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 961px;
  width: 870px;
}

.about-us-section {
  height: 620px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.about-us-section img {
  width: 40%;
  margin: 0 auto;
}

.about-us-section .signature {
  width: 40%;
  margin-right: 50px;
  margin-top: 50px;
}

.about-us-text {
  font-size: 30px;
  margin: 0 auto;
}

.about-us-long-text {
  width: 90%;
  font-size: 25px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: justify;
}

.people-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 965px;
}

.people-image-flex {
  margin-top: 50px;
  width: 100%;
  height: 856px;
}

.help-section {
  width: 100%;
  height: 1054px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7a7979;
}

.help-text {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

.three-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 140px;
  margin: 0 auto;
  font-size: 18px;
  padding-left: 5px;
}

.three-texts p {
  text-align: center;
  padding: 5px;
}

.three-texts p:hover {
  border: 1px solid black;
  -webkit-transition: 1s;
  transition: 1s;
  zoom: 120%;
  cursor: pointer;
}

.long-text {
  width: 70%;
  height: 130px;
  margin: 0 auto;
  font-size: 22px;
  text-align: justify;
}

.long-text-visible {
  visibility: visible;
}

.long-text-hidden {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.left-side {
  width: 50%;
  height: 50%;
}

.inside-text {
  font-size: 16px;
  border-bottom: 1px solid black;
  border-spacing: 20px;
  padding-top: 25px;
}

.inside-text-font {
  font-size: 26px;
}

.right-side {
  width: 30%;
  height: 400px;
}

.display-none {
  font-size: 26px;
  visibility: hidden;
}

.footer {
  width: 100%;
  height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eeefef;
}

.image-footer {
  height: 100%;
}

.image-footer > img {
  height: 100%;
  width: 120%;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 53%;
}

.form-section img {
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

.contact {
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}

.contact-form {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 75px;
  text-align: left;
  margin: 0 auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

input {
  width: 50%;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 18px;
  border-spacing: 10px;
  height: 50px;
}

#form_email {
  margin-top: 30px;
}

.message-form {
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 18px;
  height: 50px;
  margin-top: 50px;
  text-align: unset;
}

.send-button {
  margin: 0 auto;
  background: inherit;
  margin-top: 50px;
  border: 1px solid black;
  height: 50px;
  width: 100px;
}

.send-button:hover {
  cursor: pointer;
  zoom: 110%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 500px;
}

.icon-btn {
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  color: black;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.icon-btn i {
  line-height: 90px;
  font-size: 40px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.icon-btn:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media only screen and (max-width: 1100px) {
  .header-section {
    width: 1500px;
  }
  .header-image,
  .people-image-flex,
  .image-footer,
  .image-footer > img {
    display: none;
  }
  .navbar {
    visibility: hidden;
  }
  .text-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .down-text {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10%;
    width: auto;
  }
  .nav-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .number {
    font-size: 70px;
  }
  .table-text {
    font-size: 25px;
  }
  .table-lorem {
    font-size: 15px;
  }
  .steps-section {
    height: auto;
  }
  .steps-section-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .people-section {
    height: auto;
  }
  .about-us {
    width: 250%;
    height: 70%;
  }
  .about-us-long-text {
    font-size: 20px;
  }
  .form-section {
    margin-left: 20%;
  }
  .footer {
    background: url("../../images/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    resize: both;
  }
}

@media only screen and (max-width: 845px) {
  .right-side,
  .down-text,
  .decoration {
    display: none;
  }
  .down-text {
    width: 100%;
  }
  .text-section {
    height: 100%;
    background: url("../../images/pencils.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .left-side {
    width: 100%;
  }
  .form-section {
    width: 250%;
  }
  .about-us-section {
    height: 200px;
  }
  .nav-up,
  .nav-down {
    display: none;
  }
  .middle-text {
    margin-bottom: 50%;
    color: white;
  }
  .navbar-toggle,
  .navbar {
    height: 100%;
    visibility: visible;
    color: white;
  }
  .form-section {
    margin-left: 10%;
  }
  .footer {
    background: url("../../images/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    resize: both;
  }
}
/*# sourceMappingURL=styles.css.map */